.new {
  background-color:black;
}
.top-img {
  width:80%;
}
.top {
  text-align:center;
}
#icons{
  font-size:36px;
  color:#aaa;
}
#icons:hover {
  color:white;
}
.headline{
  font-size:4vw;
}
.body-text {
  font-size:2.5vw;
}
#album {
  border:2px solid white;
  width:190px;
}